<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div style="margin: 95px;">

  <div style="margin: 95px;">
    <img alt="nanaland 로고"
         src="https://nanaland-image-bucket.s3.ap-northeast-2.amazonaws.com/images/nanaland-logo.png"
         style="max-width: 70px; height: auto;">
    <h1> nanaland 정보 수정 요청 사항 </h1>

    <div align="center"
         style="border-top: 1px solid black; border-bottom: 1px solid black; font-family:verdana; text-align: left">
      <br><br>
      수정 요청 정보 : <span th:text="${fix_type}"></span>
      <br>
      카테고리 : <span th:text="${category}"></span>
      <br>
      언어 : <span th:text="${language}"></span>
      <br>
      게시물 제목 : <span th:text="${title}"></span>
      <br><br>
      <div th:if="${image_0 != null}">
        <img style="max-width: 300px; height: auto" th:src="${image_0}"/>
      </div>
      <div th:if="${image_1 != null}">
        <img style="max-width: 300px; height: auto" th:src="${image_1}"/>
      </div>
      <div th:if="${image_2 != null}">
        <img style="max-width: 300px; height: auto" th:src="${image_2}"/>
      </div>
      <div th:if="${image_3 != null}">
        <img style="max-width: 300px; height: auto" th:src="${image_3}"/>
      </div>
      <div th:if="${image_4 != null}">
        <img style="max-width: 300px; height: auto" th:src="${image_4}"/>
      </div>
      <br><br>
      수정 요청 내용 : <span th:text="${content}"></span>
      <br>
      요청자 이메일 : <span th:text="${email}"></span>
      <br><br><br>
    </div>
  </div>
</div>

</body>
</html>